*,
*::before,
*::after {
   box-sizing: border-box;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0 auto;
}
html,
body,
.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
    margin: 0 auto;
    padding: 0;
    background-color:#6a80b8 ;
    font-family: Helvetica, sans-serif;
}

.header-bg {
background-image: url("./src/assets/ac-valhalla-bg.png");
background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.header-wrap {
    padding: 100px 20px;
    margin: 0 auto 40px;
    width: 100%;
    max-width: 1400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
} 

.header-wrap p {
    flex: 1 0 25%;
    font-size: 2.5em;
}

.main-menu {
    flex: 1 0 75%;
    display: flex;
    font-family: helvetica;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
 }

.main-menu a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.main-menu a.nav-link.active {
    text-decoration: underline;
}

.main-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 200px;
}

.main-section h1 {
    margin-bottom: 1rem;

}

.main-section .about-me img {
    border-radius: 100%;
    margin-bottom: 1.5rem;
}

.main-section p {
    font-size: 20px;
    line-height: 2rem;
}

.portfolio .card-holder {
    display: flex;
    justify-content: stretch;
    align-items: start;
    column-gap: 20px;
}

.portfolio .card-holder .card {
    flex: 1 0 30%;
    background: #fff;
    padding: 5px;
    text-align: center;
}

.card-holder .card img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
 }

.card-holder .card h2 {
    font-size: 20px;
    color: #000;
    margin-bottom: 1em;
 }
 .card-holder .card a {
    color: #000;
    display: block;
    text-decoration: underline;
    margin-bottom: .5rem;
}